.button {
    text-decoration: none;
    color: var(--color-text);
    padding: .75em 1.25em;
    background: var(--color-el-bg);
    border-radius: var(--border-radius-button);
    font-size: var(--font-size-default);
    font-weight: 500;
}