@import '/src/shared/assets/styles/mixins';

.accordion {
  position: relative;

  &:hover,
  &:focus:focus-visible {
    .btn__state_icon {
      animation: tilt-shaking 150ms 2 forwards;
    }
  }

  &[data-active='true'] {
    .accordion__content {
      grid-template-rows: 1fr;
      padding-block: 0.5em 1.25em;
    }

    .title__btn {
      border-radius: var(--border-radius-button) var(--border-radius-button) 0 0;
    }

    .btn__state_icon {
      rotate: 45deg;
    }
  }

  &__title {
    width: 100%;

    .title__btn {
      @include bluredBg;

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      border: none;
      outline: transparent;
      border-radius: var(--border-radius-button);
      padding: 0.75em 1.5em;
      font-size: var(--font-size-h4);
      color: var(--color-text);
      text-align: left;
    }

    .btn__state_icon {
      color: var(--color-accent);
      font-size: var(--font-size-h3);
      transition: var(--transition-ui);
    }
  }

  &__content {
    @include bluredBg;

    border-radius: 0 0 var(--border-radius-button) var(--border-radius-button);
    padding-inline: 1.5em 1.5em;
    padding-block: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--transition-ui);
    color: var(--color-text-secondary);

    & > * {
      overflow: hidden;
    }
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
