@import '/src/shared/assets/styles/mixins';

.nav_link {
  @include buttonReset;

  color: var(--color-text-secondary);

  &[data-active="true"] {
    color: var(--color-text);
    background: var(--color-primary-ignorant);
    pointer-events: none;
    font-weight: 500;
    order: -1;
  }

  &[data-active="false"]:hover,
  &[data-active="false"]:focus:focus-visible {
    color: var(--color-text);
    background: var(--color-el-bg);
  }
}
