.input {
  border-radius: var(--border-radius-button);
  background: var(--color-el-bg);
  color: var(--color-text);
  padding: 0.5rem 1.5rem;
  font-size: var(--font-size-default);
  outline: transparent;
  border: none;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
