@import "./mixins";

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-main), 1fr)
    [content-start] var(--width-content)
    [content-end] minmax(var(--padding-main), 1fr)
    [full-width-end];

  & > * {
    grid-column: content;
  }

}

ul {
  list-style: none;
  padding: 0;
}

main {
  @include fullWidth;

  min-height: 100vh;
  min-height: 100svh;
}

img {
  max-width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--font-size-h#{$i});
    font-weight: 500;
  }
}

p {
  font-size: var(--font-size-default);
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}