@mixin fullWidth() {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;

  & > * {
    grid-column: content;
  }
}

@mixin bluredBg() {
  backdrop-filter: var(--blur-effect-default);
  background: var(--color-el-bg);
}

@mixin buttonReset() {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: var(--transition-button);
  outline: transparent;
  border: none;
}
