:root {
  /* -----start Colors----- */
  --color-primary: #8989e6;
  --color-primary-ignorant: rgb(137, 137, 230, 0.25);
  --color-secondary: rgb(33, 33, 33);
  --color-accent: #dddd22;

  --color-text: #eaeaeb;
  --color-text-secondary: rgb(234, 234, 235, 0.7);
  --color-bg: #0f0f10;
  --color-el-bg: rgb(234, 234, 235, 0.05);
  --color-el-bg-active: rgb(234, 234, 235, 0.1);

  --color-positive: #31d154;
  --color-negative: #e23a3a;
  /* -----end Colors----- */

  /* -----start Font Sizes----- */
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: 14px;
  --font-size-h6: 12px;
  --font-size-default: 14px;
  /* -----end Font Sizes----- */

  /* -----start Sizes----- */
  --width-content: min(100% - var(--padding-main) * 2, 1200px);

  --border-radius-button: 0.25em;
  --border-radius-input: 0.25em;

  --padding-main: 1.5rem;
  /* -----end Sizes----- */

  --blur-effect-default: blur(10px);

  /* -----start Transitions----- */
  --transition-ui: 300ms;
  --transition-button: 300ms;
  /* -----end Transitions----- */
}
