.hero_section {
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    font-weight: 100;
    margin-top: .75rem;
    color: var(--color-text-secondary);
  }

  &__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
  }
}
