.hero_section {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    border-radius: 9999px;
    background: var(--color-primary);
    aspect-ratio: 1;
    height: 60vh;
    height: 60svh;
    left: 0;
    top: 30vh;
    top: 30svh;
    translate: -50%;
    z-index: -1;
    opacity: 0.2;
    filter: blur(40px);
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 9999px;
    background: var(--color-accent);
    aspect-ratio: 1;
    height: 40vh;
    height: 40svh;
    right: -40vh;
    right: -40svh;
    bottom: 30vh;
    bottom: 30svh;
    translate: -50%;
    top: 2.5vh;
    top: 2.5svh;
    z-index: -1;
    opacity: 0.2;
    filter: blur(40px);
    display: none;
  }

  &__title {
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    margin-top: 0.75rem;
    color: var(--color-text-secondary);
  }

  &__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
  }
}
